/*
Author: Jo Gedeon
Date: July 28 2025
File Name: styles.css
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}
/* alters margins and borders of the table */
table{
	width: 80%;
	margin-bottom: 0;
	margin-top:0;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #71881b;
}
/* makes cells share borders */
table,tr,th,td{
	border-collapse: collapse;
	padding: 2%;
}
/* increases font size of the caption */
caption{
	font-size: 2em;
	padding:2%;
	margin-top: 2%;
}

/* alters border size for cells and headers */
th,td{
	border: 1px solid #7188bb;
}

/* centers the text inside cells */
td{
	text-align: center;
}

/* sets background color of cells */
tr{
	background-color: #d3e788;
}



/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}